<%-include('../partials/header')%>

<div class="container my-5 py-3" style="text-align: center; background-color: #e9ecef;">    
    <h3>Edit Comment </h3>
    <form action="/campgrounds/<%=campground_id%>/comment/<%=comment._id%>?_method=PUT" method="POST">
        <div style="width: 30%; margin: 0 auto;">
            <input type="text" class="form-control mb-3" name="comment[text]" value="<%=comment.text%>">
            <button class="btn btn-lg btn-info btn-block">Update</button>
        </div>
    </form>
</div>

<%-include('../partials/footer')%>
